In [1]:
import pandas as pd
import numpy as np

In [2]:
tsla_data = pd.read_csv(r'/root/thesis_update/thesis_update_final/topic_selection/tsla_topic_selection.csv')

In [3]:
tsla_data.head()

,Unnamed: 0,Date,text_headlines
0,0,2022-02-15 10:00:00,ethereum leads way as largest cryptocurrencies...
1,1,2022-02-15 08:23:00,tesla’s elon musk gave away $57 billion but to...
2,2,2022-02-15 08:17:00,elon musk gave 5 million tesla shares to chari...
3,3,2022-02-15 05:05:00,biden to tap infrastructure funds to clean up ...
4,4,2022-02-14 09:33:00,flurry of ev commercials during super bowl led...

In [4]:
tsla_performance_topic = tsla_data[tsla_data["text_headlines"].str.contains("underperforms|outperforms|stock market|wallstreet|rises|dow jones|falls")]

In [5]:
tsla_performance_topic.head()

,Unnamed: 0,Date,text_headlines
6,6,2022-02-14 04:32:00,tesla inc stock rises monday outperforms market
7,7,2022-02-14 10:01:00,largest cryptocurrencies mixed as dogecoin falls
10,10,2022-02-14 06:37:00,nio stock falls after downbeat china auto sale...
13,13,2022-02-11 04:32:00,tesla inc stock falls friday underperforms market
20,20,2022-02-10 04:32:00,tesla inc stock falls thursday underperforms m...

In [6]:
len(tsla_performance_topic)

992

In [7]:
tsla_competitors_topic = tsla_data[tsla_data["text_headlines"].str.contains("nio|competitors|amazon|apple")]

In [8]:
tsla_competitors_topic.head()

,Unnamed: 0,Date,text_headlines
10,10,2022-02-14 06:37:00,nio stock falls after downbeat china auto sale...
18,18,2022-02-05 08:03:00,these us lawmakers rank as the biggest traders...
37,37,2022-02-08 04:32:00,tesla inc stock outperforms competitors on str...
44,44,2022-02-07 04:32:00,tesla inc stock underperforms monday when comp...
71,71,2022-02-02 04:32:00,tesla inc stock underperforms wednesday when c...

In [9]:
len(tsla_competitors_topic)

648

In [10]:
tsla_industry_topic = tsla_data[tsla_data["text_headlines"].str.contains("tech|electric|space x")]

In [11]:
tsla_industry_topic.head()

,Unnamed: 0,Date,text_headlines
4,4,2022-02-14 09:33:00,flurry of ev commercials during super bowl led...
25,25,2022-02-10 09:36:00,biden tells states to roll ahead with electric...
35,35,2022-02-08 06:14:00,tesla finally gets a mention as biden talks up...
75,75,2022-02-02 08:48:00,alphabet stock split could permit tech giant t...
92,92,2022-01-31 10:26:00,tech stocks could sink 8percent more ubs says ...

In [12]:
len(tsla_industry_topic)

473

In [13]:
tsla_crypto_topic = tsla_data[tsla_data["text_headlines"].str.contains("bitcoin|btc|eth|ethereum|cathy wood|sec|ark|etf|fed|crypto|cryptocurrency|cryptocurrencies")]

In [14]:
tsla_crypto_topic.head()

,Unnamed: 0,Date,text_headlines
0,0,2022-02-15 10:00:00,ethereum leads way as largest cryptocurrencies...
3,3,2022-02-15 05:05:00,biden to tap infrastructure funds to clean up ...
6,6,2022-02-14 04:32:00,tesla inc stock rises monday outperforms market
7,7,2022-02-14 10:01:00,largest cryptocurrencies mixed as dogecoin falls
12,12,2022-02-11 04:46:00,these 3 funds invest like ark but didn’t fall ...

In [15]:
len(tsla_crypto_topic)

1745

In [16]:
#tsla_performance_topic.to_csv('performance_tsla.csv', index=False)
#tsla_industry_topic.to_csv('industry_tsla.csv', index=False)
#tsla_competitors_topic.to_csv('competitors_tsla.csv', index=False)
tsla_crypto_topic.to_csv('crypto_tsla.csv', index=False)