In [1]:
import pandas as pd 
import numpy as np

In [2]:
jpm_data = pd.read_csv(r'/root/thesis_update/thesis_update_final/topic_selection/jpm_topic_selection.csv')

In [4]:
jpm_data.head()

,Unnamed: 0,Date,text_headlines
0,0,2022-02-15 09:10:00,the beginning of the ‘new normal’ more compani...
1,1,2022-02-15 05:02:00,jpmorgan chase & co stock rises tuesday still ...
2,2,2022-02-15 03:10:00,city of london’s lord mayor arrives in the us ...
3,3,2022-02-14 05:02:00,jpmorgan chase & co stock outperforms competit...
4,4,2022-02-14 01:26:00,goodyear stock plunged friday this analyst say...

In [5]:
jpm_economy_topic = jpm_data[jpm_data["text_headlines"].str.contains("housing|mortgage|wall street|banks|jp morgan ceo")]

In [6]:
jpm_economy_topic.head()

,Unnamed: 0,Date,text_headlines
7,7,2022-02-12 09:42:00,banks want to be a bridge to bitcoin how to in...
21,21,2022-02-03 07:30:00,wall street returns to the trading floor
22,22,2022-02-02 06:02:00,paypal stock had its worst day on record what ...
51,51,2022-01-21 02:00:00,how the world’s central banks are confronting ...
54,54,2022-01-20 08:04:00,need evidence of wage inflation check out wall...

In [7]:
len(jpm_economy_topic)

722

In [8]:
jpm_performance_topic = jpm_data[jpm_data["text_headlines"].str.contains("outperforms|underperforms|dow jones|gains|stock market|revenue|q1|q2|q3|q4")]

In [9]:
jpm_performance_topic.head()

,Unnamed: 0,Date,text_headlines
1,1,2022-02-15 05:02:00,jpmorgan chase & co stock rises tuesday still ...
3,3,2022-02-14 05:02:00,jpmorgan chase & co stock outperforms competit...
8,8,2022-02-11 05:02:00,jpmorgan chase & co stock outperforms competit...
12,12,2022-02-10 05:02:00,jpmorgan chase & co stock falls thursday still...
13,13,2022-02-09 05:03:00,jpmorgan chase & co stock rises wednesday stil...

In [10]:
len(jpm_performance_topic)

1149

In [11]:
jpm_industry_topic = jpm_data[jpm_data["text_headlines"].str.contains("james dimon|fed|financial markets|fed")]

In [12]:
jpm_industry_topic.head()

,Unnamed: 0,Date,text_headlines
37,37,2022-01-26 11:14:00,stock-market selloff is so overdone the bar is...
47,47,2022-01-22 11:12:00,the federal reserve’s first meeting of 2022 lo...
56,56,2022-01-19 03:41:00,the 60/40 portfolio ‘is in danger’ as federal ...
71,71,2022-01-17 02:57:00,get ready for the climb here’s what history sa...
76,76,2022-01-14 04:41:00,the 2-year treasury yield logs 4th straight we...

In [13]:
jpm_competitors_topic = jpm_data[jpm_data["text_headlines"].str.contains("goldman sachs|bank of america")]

In [14]:
jpm_competitors_topic

,Unnamed: 0,Date,text_headlines
59,59,2022-01-18 04:36:00,goldman sachs profit drops below wall street e...
60,60,2022-01-18 03:52:00,goldman sachs jpmorgan chase share losses cont...
61,61,2022-01-18 03:06:00,bank of america's stock falls ahead of earning...
62,62,2022-01-18 02:51:00,dow drops 420 points on losses in goldman sach...
63,63,2022-01-18 01:50:00,goldman sachs jpmorgan chase share losses lead...
...,...,...,...
7108,7108,2011-11-03 09:38:00,citi bank of america rise financials rally again
7120,7120,2011-11-01 02:37:00,bank of america backtracks on fees
7121,7121,2011-11-01 00:14:00,bank of america to drop debit card fee
7136,7136,2011-10-28 01:29:00,bank of america leads but no one follows
7139,7139,2011-10-27 04:40:00,morgan stanley bank of america power financials

In [15]:
len(jpm_competitors_topic)

332

In [16]:
jpm_crypto_topic = jpm_data[jpm_data["text_headlines"].str.contains("bitcoin|btc|eth|ethereum|cathy wood|ark|etf|crypto|cryptocurrency|cryptocurrencies")]

In [17]:
jpm_crypto_topic

,Unnamed: 0,Date,text_headlines
1,1,2022-02-15 05:02:00,jpmorgan chase & co stock rises tuesday still ...
7,7,2022-02-12 09:42:00,banks want to be a bridge to bitcoin how to in...
11,11,2022-02-11 07:31:00,the case for bitcoin $10000 — and why it’s pro...
12,12,2022-02-10 05:02:00,jpmorgan chase & co stock falls thursday still...
13,13,2022-02-09 05:03:00,jpmorgan chase & co stock rises wednesday stil...
...,...,...,...
7155,7155,2011-10-21 06:09:00,marketwatch’s top 10 stories oct 17–21
7156,7156,2011-10-21 04:39:00,financial stocks outpace market rally
7163,7163,2022-02-15 02:12:00,maltese falcoin crypto report 9 things to know...
7166,7166,2022-02-15 10:16:00,blackrock (blk) prepares to offer crypto tradi...
7168,7168,2022-02-15 06:20:00,should spdr portfolio s&p 500 value etf (spyv)...

In [18]:
len(jpm_crypto_topic)

1007

In [19]:
jpm_economy_topic.to_csv('economy_jpm.csv', index=False)
jpm_industry_topic.to_csv('industry_jpm.csv', index=False)
jpm_competitors_topic.to_csv('competitors_jpm.csv', index=False)
jpm_performance_topic.to_csv('performance_jpm.csv', index=False)
jpm_crypto_topic.to_csv('crypto_jpm.csv', index=False)